#sidebar-publicacion {
    background-color: #16a085;
    color: white;
    height: 100%;
    padding: 0;
    position: fixed;
    left: 0;
    top: 15vh;
    width: 5vw;
    z-index: 2;
}
.texto-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
#sidebar-nav-publicacion {
    margin-top: 75px;
}

.espacioPorElemento1{
    margin-top: 7vw;
    margin-bottom: 6vw;
    margin-left: .6vw; 
}

.espacioPorElemento{
    margin-top: 8vw;
    margin-bottom: 6vw;
    margin-left: .6vw;
    
}
.fontSize {
    font-size: 1.5vw;
    color: black;
}