#sidebar-navUsuarios {
 background-color: purple;
 color: white;
 height: 100%;
 padding: 0;
 position: fixed;
 left: 90vw;
 top: 15vh;
 width: 5vw;
 z-index: 2;
}

#sidebar-nav-navUsuarios {
 /*margin-top;*/
}

.radius {
  border-radius: 10vw;
}

.bordeUsuario {
  border: solid 2px yellow;
  margin-bottom: 2vh;
}
