/*.btn-tarjeta-reto {
  border: solid 2px #54A4D1;
  color: #54A4D1;
  background-color: white;
}

.btn-tarjeta-reto-margin{
  margin-right: 1vw;
}

.division {
  margin-top: 3vh;
  border-top: solid 1px #b5afaf;
}*/
